.forgot-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#2563eb,#1e3a8a);
  font-family:Arial;
}

.forgot-card{
  background:white;
  padding:40px;
  width:380px;
  border-radius:10px;
  box-shadow:0px 10px 25px rgba(0,0,0,0.2);
}

.forgot-card h1{
  text-align:center;
  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  color:gray;
  margin-bottom:25px;
}

.form-group{
  display:flex;
  flex-direction:column;
  margin-bottom:18px;
}

.form-group label{
  margin-bottom:5px;
  font-size:14px;
}

.form-group input{
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
}

.btn-change{
  width:100%;
  padding:12px;
  border:none;
  border-radius:6px;
  background:#2563eb;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.btn-change:hover{
  background:#1e40af;
}

.back-login{
  margin-top:20px;
  text-align:center;
}

.back-login a{
  text-decoration:none;
  color:#2563eb;
}