<div class="forgot-container">

  <div class="forgot-card">

    <h1>Recuperar contraseña</h1>

    <p class="subtitle">
      Sigue los pasos para cambiar tu contraseña
    </p>

    <!-- PASO 1 -->
    <div *ngIf="step==1">

      <div class="form-group">
        <label>Correo electrónico</label>
        <input
          type="email"
          name="email"
          [(ngModel)]="recoveryEmail"
          placeholder="Ingresa tu correo"
        >
      </div>

      <button class="btn-change" (click)="sendRecoveryCode()">
        Enviar código
      </button>

    </div>

    <!-- PASO 2 -->
    <div *ngIf="step==2">

      <div class="form-group">
        <label>Código de verificación</label>
        <input
          name="code"
          [(ngModel)]="recoveryCode"
          placeholder="Ingresa el código"
        >
      </div>

      <button class="btn-change" (click)="verifyCode()">
        Verificar código
      </button>

    </div>

    <!-- PASO 3 -->
    <div *ngIf="step==3">

      <div class="form-group">
        <label>Nueva contraseña</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="newPassword"
          placeholder="Nueva contraseña"
        >
      </div>

      <button class="btn-change" (click)="changePassword()">
        Cambiar contraseña
      </button>

    </div>

    <div class="back-login">
      <a routerLink="/login">Volver al login</a>
    </div>

  </div>

</div>
